.image-source {
	font-size: 10px !important; 
	margin-top: -5px !important
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}
